@import './blocks/scorePanel';
@import './blocks/main';
@import './blocks/start';
@import './blocks/modal';

* {
    box-sizing:border-box;
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.show {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s;
}

.hide {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}

.display {
    display: none;
}

