.game {
    position: relative;
    background: linear-gradient(to bottom, #1f3756, #141539) ;
    height: 100vh;
    padding-top: 10%;
    &__score-wrapper {
        display: flex;
        width: 65%;
        align-items: center;
        margin: 0 auto;
        height: 125px;
        border: 3px solid #606e85;
        border-radius: 15px;
        justify-content: space-between;
        padding: 20px;
    }
    &__atribute {
        width: 200px;
        display: flex;
        flex-direction: column;

    }
}